bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# C++ GameClient build
StalkerOnline.GameClient/build/
StalkerOnline.GameClient/.vs/
StalkerOnline.GameClient/out/

# Rider
.idea/

# Visual Studio
build/
bin/
.vs/
.idea/
*.exe
*.dll
*.lib
*.pdb
*.obj
*.log

# .NET
bin/
obj/